$col-bg-color: rgb(82, 79, 95);

$col-header-text-color: rgb(215, 207, 236);

$col-border: .15em solid rgb(34, 18, 80);

$card-bg-color: #14131d;

$card-text-color: rgb(198, 199, 218);

$mat-header-text-color: lighten($card-text-color, 30);

$card-label-font-color: darken($card-text-color, 30);